@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermiss</title>
</head>
<body>
    <div style="margin-top: 40px">
        您没有权限访问此页面
    </div>
</body>
</html>
